<link rel="stylesheet" href="{{ 'quote-print.css' | asset_url }}" media="print">
<script src="{{ 'quote-request.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  class="page-width section-{{ section.id }}-padding"
  data-quote-details-page
  data-quote-request-config
  data-api-base-url="{{ settings.quote_api_base_url }}"
  data-secret="{{ settings.quote_api_secret }}"
  data-customer-id="{% if customer %}{{ customer.id }}{% endif %}"
  data-customer-email="{% if customer %}{{ customer.email }}{% endif %}"
  data-customer-name="{% if customer %}{{ customer.name }}{% endif %}"
>
  <div style="margin: 0 auto 3rem;max-width: 920px;display:flex;justify-content:space-between;gap:10px;">
    <a href="/pages/quotes" class="button button-small">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow" style="margin-right: 10px;">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      <span>See all quotes</span>
    </a>

    <button class="button button-small" data-print-quote>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-download" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 10px; width: 1.5rem">
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
        <polyline points="7 10 12 15 17 10"/>
        <line x1="12" y1="3" x2="12" y2="15"/>
      </svg>
      <span>Download quote</span>
    </button>
  </div>


  {% if customer == null %}
    <div class="rte">
      <p>Login to your account to view quote details.</p>
      <a class="button" href="{{ routes.account_login_url }}">Login</a>
    </div>
  {% else %}
    <div data-quote-details>
      <p>Loading...</p>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Main quote details",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
